Repository A-Line-Services/release-pilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, typecheck, test

biome:
  name: biome check
  entry: bunx biome check --write
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: bun run typecheck
  language: system
  pass_filenames: false

test:
  name: test
  entry: bun test
  language: system
  pass_filenames: false

Create CNAME
  docs/CNAME
Due: none

docs: link authentication section to documentation site
  README.md
Due: none

fix: already existing app name, so rename action to 'A-Line Release Pilot'
  action.yml
Due: none

feat: add versionFiles config and example validation tests
  .github/release-pilot.yml
  tests/unit/config/examples.test.ts
Due: biome, typecheck, test

feat(versionFiles): add updateOn config for release type filtering
  README.md
  src/config/loader.ts
  src/config/schema.ts
  src/main.ts
  tests/unit/config/loader.test.ts
Due: biome, typecheck, test

fix: include dist/ in release commits
  .github/workflows/release.yml
Due: none

fix: enable VERSION file updates to trigger release commits
  .github/release-pilot.yml
Due: none

docs: fix license reference in README (GPL-3.0, not MIT)
  README.md
Due: none

feat: implement changelog generation from merged PRs
  .github/release-pilot.yml
  dist/index.cjs
  dist/index.cjs.map
  src/config/schema.ts
  src/core/changelog.ts
  src/github/client.ts
  src/main.ts
  tests/unit/core/changelog.test.ts
Due: biome, typecheck, test

refactor: clean up changelog implementation and simplify release config
  .github/release-pilot.yml
  .github/workflows/release.yml
  dist/index.cjs
  dist/index.cjs.map
  src/core/changelog.ts
  src/core/cleanup.ts
  src/core/git.ts
  src/core/types.ts
  src/core/version-files.ts
  src/github/releases.ts
  src/main.ts
  tests/unit/core/changelog.test.ts
Due: biome, typecheck, test

refactor(tests): add shared test helpers and refactor ecosystem tests
  tests/helpers/context.ts
  tests/helpers/factories.ts
  tests/helpers/fixtures.ts
  tests/helpers/index.ts
  tests/helpers/project.ts
  tests/unit/core/changelog.test.ts
  tests/unit/ecosystems/cargo.test.ts
  tests/unit/ecosystems/go.test.ts
  tests/unit/ecosystems/npm.test.ts
  tests/unit/ecosystems/python.test.ts
Due: biome, typecheck, test

refactor(tests): continue refactoring with shared helpers
  tests/unit/core/version-files.test.ts
  tests/unit/ecosystems/composer.test.ts
  tests/unit/ecosystems/custom.test.ts
  tests/unit/ecosystems/docker.test.ts
Due: biome, typecheck, test

fix: support conventional commits breaking ! prefix and improve test helpers
  src/core/changelog.ts
  tests/helpers/project.ts
  tests/unit/core/changelog.test.ts
Due: biome, typecheck, test

docs: remove redundant github-token from examples
  .github/workflows/release.yml
  README.md
  examples/docker-image/.github/workflows/release.yml
  examples/go-module/.github/workflows/release.yml
  examples/monorepo/.github/workflows/release.yml
  examples/multi-ecosystem/.github/workflows/release.yml
  examples/python-package/.github/workflows/release.yml
  examples/rust-crate/.github/workflows/release.yml
  examples/simple-npm/.github/workflows/release.yml
Due: none

docs: remove redundant github-token from auth docs
  docs/authentication/cargo.html
  docs/authentication/composer.html
  docs/authentication/docker.html
  docs/authentication/go.html
  docs/authentication/npm.html
  docs/authentication/python.html
Due: none

fix: only skip release when all PRs have the skip label
  src/github/labels.ts
  tests/unit/github/labels.test.ts
Due: biome, typecheck, test

fix: resolve workspace version inheritance for cargo workspace members
  src/ecosystems/cargo.ts
  tests/unit/ecosystems/cargo.test.ts
Due: biome, typecheck, test

feat: add skipIfNoChanges config option to skip releases when no PRs merged
  src/config/loader.ts
  src/config/schema.ts
  src/main.ts
  tests/unit/config/loader.test.ts
  tests/unit/config/schema.test.ts
Due: biome, typecheck, test

docs: add skipIfNoChanges to configuration reference
  README.md
Due: none

fix: use CARGO_REGISTRY_TOKEN env var instead of deprecated --token flag
  docs/authentication/cargo.html
  src/ecosystems/cargo.ts
Due: biome, typecheck, test

fix: resolve generic masking issue
  src/ecosystems/cargo.ts
  src/ecosystems/python.ts
  tests/unit/ecosystems/cargo.test.ts
Due: biome, typecheck, test

fix: use line-start anchor instead of word boundary for version regex
  src/ecosystems/cargo.ts
  src/ecosystems/python.ts
  tests/unit/ecosystems/cargo.test.ts
Due: biome, typecheck, test

fix: stop excluding PRs with release labels from changelog
  src/core/changelog.ts
  tests/unit/core/changelog.test.ts
Due: biome, typecheck, test

feat: make git commit identity configurable with auto-detection
  action.yml
  src/core/git.ts
  src/github/client.ts
  src/main.ts
  tests/unit/core/resolve-git-user.test.ts
Due: biome, typecheck, test

fix: address review feedback on resolveGitUser
  src/github/client.ts
  src/main.ts
  tests/unit/core/resolve-git-user.test.ts
Due: biome, typecheck, test

fix: no release if no changes
  .github/release-pilot.yml
Due: none

fix: update workspace.dependencies versions for path deps during cargo version bump
  src/ecosystems/cargo.ts
  tests/unit/ecosystems/cargo.test.ts
Due: biome, typecheck, test

fix(docker): pass config and version to publisher
  action.yml
  src/core/cleanup.ts
  src/ecosystems/base.ts
  src/ecosystems/docker.ts
  src/main.ts
  tests/unit/core/ecosystem-context.test.ts
  tests/unit/ecosystems/docker.test.ts
Due: biome, typecheck, test

chore: run on node24
  esbuild.config.js
  package.json
Due: biome

feat(docker): add build cache option
  src/config/loader.ts
  src/config/schema.ts
  tests/unit/config/loader.test.ts
Due: biome, typecheck, test

docs: document docker cache, login and rust example
  .github/release-pilot.yml
  README.md
  examples/README.md
  examples/rust-docker/.github/release-pilot.yml
  examples/rust-docker/.github/workflows/release.yml
  examples/rust-docker/README.md
Due: none

chore: rebuild dist
  dist/index.cjs
  dist/index.cjs.map
Due: biome

docs: shorten rust-docker example workflow
  examples/rust-docker/.github/workflows/release.yml
  examples/rust-docker/README.md
Due: none

feat(docker): push to multiple registries
  README.md
  src/config/loader.ts
  src/config/schema.ts
  src/ecosystems/docker.ts
  tests/unit/config/loader.test.ts
  tests/unit/ecosystems/docker.test.ts
Due: biome, typecheck, test

Path conditions:
  biome: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$
  typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  test: any of: \.(ts|mts|cts)$, \.tsx$
